{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Online Fraud Payment Detection</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<style>
body {
  background-image: url("{% static 'images/back.jpg' %}");
}
</style>
</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1 align="center"><span>Online Fraud Payment Detection using Balanced ML Algorithms</span></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
          <ul>
            <li><a href="{% url 'index' %}"><font size="3" color="black">Home</font></a></li>
            <li><a href="{% url 'UserLogin' %}"><font size="3" color="black">User Login</font></a></li>
            <li><a href="{% url 'Register' %}"><font size="3" color="black">New User Register</font></a></li>
          </ul>
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="1010" height="200" alt="Header" /></div>
        <p align="justify">
          <font size="3" style="font-family: Comic Sans MS" color="black"><center>Online Fraud Payment Detection using Balanced Machine Learning Algorithms</center></font>
        </p>
        {% if data %}
        <font size="3" color="black"><center>{{ data|safe }}</center></font><br/>
        {% endif %}
        {% if img %}
        <center><img src="data:image/png;base64, {{ img }}" alt="Chart" /></center>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</body>
</html>
