{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Online Fraud Payment Detection</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript">
function validate(formObj) {
    if (formObj.t1.value.length === 0) {
        alert("Please upload test dataset");
        formObj.t1.focus();
        return false;
    }
    return true;
}
</script>
<style>
body {
  background-image: url("{% static 'images/back.jpg' %}");
}
</style>
</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1 align="center"><span>Online Fraud Payment Detection using Balanced ML Algorithms</span></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
          <ul>      
            <li><a href="{% url 'LoadDataset' %}"><font size="3" color="black">Load & Process Dataset</font></a></li>
            <li><a href="{% url 'BalancedData' %}"><font size="3" color="black">Balanced Data using ML</font></a></li>
            <li><a href="{% url 'TrainML' %}"><font size="3" color="black">Train ML Models</font></a></li>
            <li><a href="{% url 'Predict' %}"><font size="3" color="black">Detect Fraud</font></a></li>
            <li><a href="{% url 'index' %}"><font size="3" color="black">Logout</font></a></li>
          </ul>      
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="1010" height="200" alt="Header" /></div>
        <center>
          <form name="f1" method="post" action="{% url 'PredictAction' %}" enctype="multipart/form-data" onsubmit="return validate(this);">
            {% csrf_token %}<br/>
            <h2><b>Fraud Detection from Test Data Screen</b></h2>
            {% if data %}
            <font color="red"><center>{{ data }}</center></font><br/>
            {% endif %}
            <table align="center" width="30%">
              <tr>
                <td><font size="3" color="black">Upload&nbsp;Test&nbsp;Data</font></td>
                <td><input type="file" name="t1" size="30" required/></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="submit" value="Submit"></td>
              </tr>
            </table>
          </form>
        </center>
      </div>	
    </div>
  </div>
</div>
</body>
</html>