{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Online Fraud Payment Detection</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript">
function validate(formObj) {
    if (formObj.t1.value.trim().length === 0) {
        alert("Please Enter username");
        formObj.t1.focus();
        return false;
    }
    if (formObj.t2.value.trim().length === 0) {
        alert("Please Enter password");
        formObj.t2.focus();
        return false;
    }
    if (formObj.t3.value.trim().length === 0) {
        alert("Please Enter Contact No");
        formObj.t3.focus();
        return false;
    }
    if (isNaN(formObj.t3.value.trim())) {
        alert("Contact No must be numeric");
        formObj.t3.focus();
        return false;
    }
    if (formObj.t4.value.trim().length === 0) {
        alert("Please Enter Email Id");
        formObj.t4.focus();
        return false;
    }
    if (formObj.t5.value.trim().length === 0) {
        alert("Please Enter address");
        formObj.t5.focus();
        return false;
    }
    return true;
}
</script>
<style>
body {
  background-image: url("{% static 'images/back.jpg' %}");
}
</style>
</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1 align="center"><span>Online Fraud Payment Detection using Balanced ML Algorithms</span></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
          <ul>
            <li><a href="{% url 'index' %}"><font size="3" color="black">Home</font></a></li>
            <li><a href="{% url 'UserLogin' %}"><font size="3" color="black">User Login</font></a></li>
            <li><a href="{% url 'Register' %}"><font size="3" color="black">New User Register</font></a></li>
          </ul>      
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="1010" height="200" alt="Header" /></div>
        <center>
          <form name="f1" method="post" action="{% url 'RegisterAction' %}" onsubmit="return validate(this);">
            {% csrf_token %}<br/>
            <h2><b>New User Signup Screen</b></h2>
            {% if data %}
            <font color="red"><center>{{ data }}</center></font><br/>
            {% endif %}
            <table align="center" width="30%">
              <tr>
                <td><font color="black"><b>Username</b></font></td>
                <td><input name="t1" type="text" size="40" required></td>
              </tr>
              <tr>
                <td><font color="black"><b>Password</b></font></td>
                <td><input name="t2" type="password" size="40" required></td>
              </tr>
              <tr>
                <td><font color="black"><b>Contact&nbsp;No</b></font></td>
                <td><input name="t3" type="text" size="15" required></td>
              </tr>
              <tr>
                <td><font color="black"><b>Email&nbsp;Id</b></font></td>
                <td><input type="email" name="t4" style="font-family: Comic Sans MS" size="40" required/></td>
              </tr>
              <tr>
                <td><font color="black"><b>Address</b></font></td>
                <td><input type="text" name="t5" style="font-family: Comic Sans MS" size="50" required/></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="submit" value="Submit"></td>
              </tr>
            </table>
          </form>
        </center>
      </div>	
    </div>
  </div>
</div>
</body>
</html>